/production/

## IntelliJ
/.idea/
*.iml

## Android
/test/test-android/src/main/jniLibs/*/libgdx.so
/test/test-android/gen/
/test/test-android/src/main/assets

## Gradle
/local.properties
/.gradle/
build/

## OS Specific
.DS_Store
Thumbs.db
